body {
	background: #ffffff;
}
.header {
	width: 100%;
}
.header .logo {
	margin:20px 0 0;
}
.top-navigation {
	width: 100%;
	background: transparent url(../images/top-navigation-bg.jpg) repeat-x 0 20px;
}
.top-navigation .nav {
	margin-top: 20px;
}
.top-navigation .nav.navbar-nav>li>a {
	font-family: 'bebas_neueregular';
	font-size: 18px;
	color: #2d2f31;
	font-weight: 600;
}

.main-area {
	margin-bottom: 80px;
}
#main {
	background: #ffffff;
}
#sidebar {
}
#footer {
	color: #ffffff;
}
