body {
	font-family: Arial;
	font-size: 12px;
}
.nielit-nav {
	background-color: #39dbac;
}
.nielit-nav .navbar-brand {
	color: #ffffff;
}
.nielit-nav .navbar-brand:hover,
.nielit-nav .navbar-brand:focus {
	color: #dddddd;
}
.nielit-nav .navbar-nav>li>a {
	color: #ffffff;
}

/* Bootstrap Override Start */
.alert {
	padding: 5px 10px 5px 10px;
}
.pagination>li>a, .pagination>li>span {
	padding: 3px 8px;
}
/* Bootstrap Override End */